---
import { faker } from '@faker-js/faker'


const img = faker.image.url()
---

<main class="flex justify-center items-center flex-col mt-[20vh]">
    <h2 class="text-5xl font-bold mt-3"> Nuestros Productos </h2>
    <div class="grid grid-cols-3 grid-rows-2 gap-10 m-5">
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
        <a href="/productos"><img src={img} alt="Producto 1" class="w-[410px] aspect-square"></a>
    </div>
</main>